<footer class="footer">

  <div class="footer-container">

    <!-- INFO CLÍNICA -->
    <div class="footer-section">
      <h2>Clínica Piedra Azul</h2>
      <p>Tu salud, nuestra prioridad. Atención médica integral con profesionales calificados.</p>
    </div>

    <!-- CONTACTO -->
    <div class="footer-section">
      <h3>Contacto</h3>
      <a mat-button color="boton_personalizado"><mat-icon>location_on</mat-icon> Popayán, Colombia</a>
      <a mat-button color="boton_personalizado"><mat-icon>phone</mat-icon> +57 300 123 4567</a>
      <a mat-button color="boton_personalizado"><mat-icon>email</mat-icon> contacto@piedraazul.com</a>
    </div>

    <!-- ENLACES -->
    <div class="footer-section">
      <h3>Enlaces</h3>
      <a routerLink="/">Inicio</a>
      <a routerLink="/citas">Citas</a>
      <a routerLink="/login">Iniciar Sesión</a>
      <a routerLink="/register">Registrarse</a>
    </div>

    <!-- REDES SOCIALES -->
    <div class="footer-section">
      <h3>Síguenos</h3>
      <div class="social-icons">
        <button mat-icon-button><mat-icon>facebook</mat-icon></button>
        <button mat-icon-button><mat-icon>photo_camera</mat-icon></button>
        <button mat-icon-button><mat-icon>alternate_email</mat-icon></button>
      </div>
    </div>

  </div>

  <!-- COPYRIGHT -->
  <div class="footer-bottom">
    <p>© 2026 Clínica Piedra Azul - Todos los derechos reservados</p>
  </div>

</footer>